<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer - FCC</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer - FCC
      </h1>
    </header>

    <main>
      <p class="bold">This is a basic webapp that allows you to search Google for images that match your search term.</p>
      <p>Enter a search term below and press submit, or enter your query into your browser's address bar like so:</p>
      <p>https://img-search-ab-layer.glitch.me/api/imagesearch/<em>YourQueryHere</em></p>
      <p>Note that you can also append:</p>
      <p>?offset=<em>PageNumber</em></p>
      <p>to display results on subsequent Google search pages.</p>
      <form>
        <input type="search" maxlength="100" placeholder="Image to search..." required autofocus>
        <input type="number" min="2" max="10" step="1">
        <button type="submit">Submit</button>
      </form>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
